---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games/3328/screenshots?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-screenshots-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":6,"next":null,"previous":null,"results":[{"id":30336,"image":"https://media.rawg.io/media/screenshots/1ac/1ac19f31974314855ad7be266adeb500.jpg","width":1280,"height":720,"is_deleted":false},{"id":30337,"image":"https://media.rawg.io/media/screenshots/6a0/6a08afca95261a2fe221ea9e01d28762.jpg","width":1280,"height":720,"is_deleted":false},{"id":30338,"image":"https://media.rawg.io/media/screenshots/cdd/cdd31b6b4a687425a87b5ce231ac89d7.jpg","width":1280,"height":720,"is_deleted":false},{"id":30339,"image":"https://media.rawg.io/media/screenshots/862/862397b153221a625922d3bb66337834.jpg","width":1280,"height":720,"is_deleted":false},{"id":30340,"image":"https://media.rawg.io/media/screenshots/166/166787c442a45f52f4f230c33fd7d605.jpg","width":1280,"height":720,"is_deleted":false},{"id":30342,"image":"https://media.rawg.io/media/screenshots/f63/f6373ee614046d81503d63f167181803.jpg","width":1280,"height":720,"is_deleted":false}]}'
  recorded_at: Sat, 25 Apr 2020 12:12:09 GMT
recorded_with: VCR 3.0.3
