---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/tags?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-tag-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":5671,"next":"https://api.rawg.io/api/tags?page=2&page_size=50","previous":null,"results":[{"id":31,"name":"Singleplayer","slug":"singleplayer","games_count":70659,"image_background":"https://media.rawg.io/media/games/8d6/8d69eb6c32ed6acfd75f82d532144993.jpg","language":"eng","games":[{"id":3498,"slug":"grand-theft-auto-v","name":"Grand
        Theft Auto V","added":11409},{"id":4200,"slug":"portal-2","name":"Portal 2","added":10075},{"id":3328,"slug":"the-witcher-3-wild-hunt","name":"The
        Witcher 3: Wild Hunt","added":9723},{"id":5679,"slug":"the-elder-scrolls-v-skyrim","name":"The
        Elder Scrolls V: Skyrim","added":9023},{"id":12020,"slug":"left-4-dead-2","name":"Left
        4 Dead 2","added":8787},{"id":802,"slug":"borderlands-2","name":"Borderlands
        2","added":8695}]},{"id":40847,"name":"Steam Achievements","slug":"steam-achievement[...]
