---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/tags/99
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-tag-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":99,"name":"Isometric","slug":"isometric","games_count":1431,"image_background":"https://media.rawg.io/media/games/b17/b175178f8842276b8b18b339fe3146a1.jpg","description":""}'
  recorded_at: Sat, 25 Apr 2020 12:12:05 GMT
recorded_with: VCR 3.0.3
