---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games/3328
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, PATCH, HEAD, OPTIONS
      Path:
      - api-game-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":3328,"slug":"the-witcher-3-wild-hunt","name":"The Witcher 3:
        Wild Hunt","name_original":"The Witcher 3: Wild Hunt","description":"<p>The
        third game in a series, it holds nothing back from the player. Open world
        adventures of the renowned monster slayer Geralt of Rivia are now even on
        a larger scale. Following the source material more accurately, this time Geralt
        is trying to find the child of the prophecy, Ciri while making a quick coin
        from various contracts on the side. Great attention to the world building
        above all creates an immersive story, where your decisions will shape the
        world around you.</p>\n<p>CD Project Red are infamous for the amount of work
        they put into their games, and it shows, because aside from classic third-person
        action RPG base game they provided 2 massive DLCs with unique questlines and
        16 smaller DLCs, containing extra quests and items.</p>\n<p>Players praise
        the game for its atmosphere and a wide open world that finds the balance between
        fantasy elements and realistic and believable mechanics, and the game deserved
        numerous awards for every aspect of the game, from music to direction.</p>","metacritic":93,"released":"2015-05-18","tba":false,"updated":"2019-09-17T15:58:18","background_image":"https://media.rawg.io/media/games/088/088b41ca3f9d22163e43be07acf42304.jpg","background_image_additional":"https://media.rawg.io/media/screenshots/3e4/3e4576a772b3df47bfc52b86e4cf7e03.jpg","website":"http://www.thewitcher.com","rating":4.68,"rating_top":5,"ratings":[{"id":5,"title":"exceptional","count":2514,"percent":77.98},{"id":4,"title":"recommended","count":513,"percent":15.91},{"id":3,"title":"meh","count":129,"percent":4.0},{"id":1,"title":"skip","count":68,"percent":2.11}],"reactions":{"1":37,"2":6,"3":36,"4":15,"5":9,"6":6,"7":8,"10":11,"11":12,"12":13,"16":1},"added":9723,"added_by_status":{"yet":483,"owned":5722,"beaten":2181,"toplay":409,"dropped":377,"playing":551},"playtime":53,"screenshots_count":107,"movies_count":0,"creators_count":12,"achievements_count":204,"parent_achievements_count":49,"reddit_url":"https://www.reddit.com/r/thewitcher3/","reddit_name":"r/thewitcher3","reddit_description":"For
        everything Witcher related.","reddit_logo":"","reddit_count":3685,"twitch_count":100,"youtube_count":1000000,"reviews_text_count":46,"ratings_count":3178,"suggestions_count":669,"alternative_names":["The
        Witcher 3"],"metacritic_url":"","parents_count":0,"additions_count":3,"game_series_count":5,"user_game":null,"reviews_count":3224,"saturated_color":"0f0f0f","dominant_color":"0f0f0f","parent_platforms":[{"platform":{"id":1,"name":"PC","slug":"pc"}},{"platform":{"id":2,"name":"PlayStation","slug":"playstation"}},{"platform":{"id":3,"name":"Xbox","slug":"xbox"}},{"platform":{"id":7,"name":"Nintendo","slug":"nintendo"}}],"platforms":[{"platform":{"id":4,"name":"PC","slug":"pc","image":null,"year_end":null,"year_start":null,"games_count":218590,"image_background":"https://media.rawg.io/media/games/7fa/7fa0b586293c5861ee32490e953a4996.jpg"},"released_at":"2015-05-18","requirements":null},{"platform":{"id":1,"name":"Xbox
        One","slug":"xbox-one","image":null,"year_end":null,"year_start":null,"games_count":3233,"image_background":"https://media.rawg.io/media/games/15c/15c95a4915f88a3e89c821526afe05fc.jpg"},"released_at":"2015-05-18","requirements":null},{"platform":{"id":7,"name":"Nintendo
        Switch","slug":"nintendo-switch","image":null,"year_end":null,"year_start":null,"games_count":3172,"image_background":"https://media.rawg.io/media/games/88c/88c5b4d7c80276c03ff62aebb1a99ad4.jpg"},"released_at":"2015-05-18","requirements":null},{"platform":{"id":18,"name":"PlayStation
        4","slug":"playstation4","image":null,"year_end":null,"year_start":null,"games_count":4654,"image_background":"https://media.rawg.io/media/games/4be/4be6a6ad0364751a96229c56bf69be59.jpg"},"released_at":"2015-05-18","requirements":null}],"stores":[{"id":354780,"url":"https://www.gog.com/game/the_witcher_3_wild_hunt","store":{"id":5,"name":"GOG","slug":"gog","domain":"gog.com","games_count":2594,"image_background":"https://media.rawg.io/media/screenshots/10f/10f97c2b3281cce02200a5f890bcb97a.jpg"}},{"id":312313,"url":"https://www.microsoft.com/en-us/p/the-witcher-3-wild-hunt/br765873cqjd","store":{"id":2,"name":"Xbox
        Store","slug":"xbox-store","domain":"microsoft.com","games_count":2867,"image_background":"https://media.rawg.io/media/games/490/49016e06ae2103881ff6373248843069.jpg"}},{"id":305376,"url":"https://store.steampowered.com/app/292030/the_witcher_3_wild_hunt/","store":{"id":1,"name":"Steam","slug":"steam","domain":"store.steampowered.com","games_count":41605,"image_background":"https://media.rawg.io/media/games/511/5118aff5091cb3efec399c808f8c598f.jpg"}},{"id":3565,"url":"https://store.playstation.com/en-us/product/UP4497-CUSA00527_00-0000000000000002","store":{"id":3,"name":"PlayStation
        Store","slug":"playstation-store","domain":"store.playstation.com","games_count":6330,"image_background":"https://media.rawg.io/media/games/bc0/bc06a29ceac58652b684deefe7d56099.jpg"}}],"developers":[{"id":9023,"name":"CD
        PROJEKT RED","slug":"cd-projekt-red","games_count":16,"image_background":"https://media.rawg.io/media/games/ee3/ee3e10193aafc3230ba1cae426967d10.jpg"},{"id":24,"name":"CD
        PROJEKT SA","slug":"cd-projekt-sa","games_count":4,"image_background":"https://media.rawg.io/media/games/742/7424c1f7d0a8da9ae29cd866f985698b.jpg"}],"genres":[{"id":5,"name":"RPG","slug":"role-playing-games-rpg","games_count":27609,"image_background":"https://media.rawg.io/media/games/ee3/ee3e10193aafc3230ba1cae426967d10.jpg"}],"tags":[{"id":40836,"name":"Full
        controller support","slug":"full-controller-support","language":"eng","games_count":8591,"image_background":"https://media.rawg.io/media/games/d58/d588947d4286e7b5e0e12e1bea7d9844.jpg"},{"id":97,"name":"Action
        RPG","slug":"action-rpg","language":"eng","games_count":2319,"image_background":"https://media.rawg.io/media/games/f99/f9979698c43fd84c3ab69280576dd3af.jpg"},{"id":40847,"name":"Steam
        Achievements","slug":"steam-achievements","language":"eng","games_count":18348,"image_background":"https://media.rawg.io/media/games/16b/16b1b7b36e2042d11[...]
