---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games/3328/stores?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-stores-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":4,"next":null,"previous":null,"results":[{"id":354780,"game_id":3328,"store_id":5,"url":"https://www.gog.com/game/the_witcher_3_wild_hunt"},{"id":312313,"game_id":3328,"store_id":2,"url":"https://www.microsoft.com/en-us/p/the-witcher-3-wild-hunt/br765873cqjd"},{"id":305376,"game_id":3328,"store_id":1,"url":"https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/"},{"id":3565,"game_id":3328,"store_id":3,"url":"https://store.playstation.com/en-us/product/UP4497-CUSA00527_00-0000000000000002"}]}'
  recorded_at: Sat, 25 Apr 2020 12:12:09 GMT
recorded_with: VCR 3.0.3
