---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/platforms/lists/parents?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-platformparent-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":14,"next":null,"previous":null,"results":[{"id":1,"name":"PC","slug":"pc","platforms":[{"id":4,"name":"PC","slug":"pc","games_count":218590,"image_background":"https://media.rawg.io/media/games/7fa/7fa0b586293c5861ee32490e953a4996.jpg","image":null,"year_start":null,"year_end":null}]},{"id":2,"name":"PlayStation","slug":"playstation","platforms":[{"id":18,"name":"PlayStation
        4","slug":"playstation4","games_count":4654,"image_background":"https://media.rawg.io/media/games/4be/4be6a6ad0364751a96229c56bf69be59.jpg","image":null,"year_start":null,"year_end":null},{"id":16,"name":"PlayStation
        3","slug":"playstation3","games_count":3571,"image_background":"https://media.rawg.io/media/games/e2d/e2d3f396b16dded0f841c17c9799a882.jpg","image":null,"year_start":n[...]
