---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/creator-roles?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-position-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":7,"next":null,"previous":null,"results":[{"id":1,"name":"writer","slug":"writer"},{"id":2,"name":"director","slug":"director"},{"id":3,"name":"composer","slug":"composer"},{"id":4,"name":"artist","slug":"artist"},{"id":5,"name":"producer","slug":"producer"},{"id":6,"name":"designer","slug":"designer"},{"id":7,"name":"programmer","slug":"programmer"}]}'
  recorded_at: Sat, 25 Apr 2020 12:12:02 GMT
recorded_with: VCR 3.0.3
