---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/developers/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-developer-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"D3 Publisher of America","slug":"d3-publisher-of-america","games_count":12,"image_background":"https://media.rawg.io/media/screenshots/c1c/c1c5b7d617614a672e89b24ea32ee35e.jpg","description":""}'
  recorded_at: Sat, 25 Apr 2020 12:12:14 GMT
recorded_with: VCR 3.0.3
