---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games/3328/additions?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, POST, HEAD, OPTIONS
      Path:
      - api-additions-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":3,"next":null,"previous":null,"results":[{"id":257255,"slug":"the-witcher-3-game-of-the-year","name":"The
        Witcher 3: Game of the Year","released":"2016-08-30","tba":false,"background_image":"https://media.rawg.io/media/screenshots/6e1/6e13d9acb4e7a6e184f24892f52c4544.jpg","rating":4.75,"rating_top":5,"ratings":[{"id":5,"title":"exceptional","count":294,"percent":82.82},{"id":4,"title":"recommended","count":47,"percent":13.24},{"id":3,"title":"meh","count":8,"percent":2.25},{"id":1,"title":"skip","count":6,"percent":1.69}],"ratings_count":351,"reviews_text_count":2,"added":540,"added_by_status":{"yet":40,"owned":155,"beaten":218,"toplay":48,"dropped":16,"playing":63},"metacritic":null,"playtime":0,"suggestions_count":89,"user_game":null,"reviews_count":355,"saturated_color":"0f0f0f","dominant_color":"0f0f0f","platforms":[{"platform":{"id":1,"name":"Xbox
        One","slug":"xbox-one","image":null,"year_end":null,"year_start":null,"games_count":3233,"image_background":"https://media.rawg.io/media/games/15c/15c95a4915f88a3e89c821526afe05fc.jpg"},"released_at":"2016-08-30","requirements_en":null,"requirements_ru":null},{"platform":{"id":18,"name":"PlayStation
        4","slug":"playstation4","image":null,"year_end":null,"year_start":null,"games_count":4654,"image_background":"https://media.rawg.io/media/games/4be/4be6a6ad0364751a96229c56bf69be59.jpg"},"released_at":"2016-08-30","requirements_en":null,"requirements_ru":null},{"platform":{"id":7,"name":"Nintendo
        Switch","slug":"nintendo-switch","image":null,"year_end":null,"year_start":null,"games_count":3172,"image_background":"https://media.rawg.io/media/games/88c/88c5b4d7c80276c03ff62aebb1a99ad4.jpg"},"released_at":"2016-08-30","requirements_en":null,"requirements_ru":null},{"platform":{"id":4,"name":"PC","slug":"pc","image":null,"year_end":null,"year_start":null,"games_count":218590,"image_background":"https://media.rawg.io/media/games/7fa/7fa0b586293c5861ee32490e953a4996.jpg"},"released_at":"2016-08-30","requirements_en":null,"requirements_ru":null}],"parent_platforms":[{"platform":{"id":1,"name":"PC","slug":"pc"}},{"platform":{"id":2,"name":"PlayStation","slug":"playstation"}},{"platform":{"id":3,"name":"Xbox","slug":"xbox"}},{"platform":{"id":7,"name":"Nintendo","slug":"nintendo"}}],"genres":[{"id":3,"name":"Adventure","slug":"adventure","games_count":58496,"image_background":"https://media.rawg.io/media/games/4a0/4a0a1316102366260e6f38fd2a9cfdce.jpg"},{"id":5,"name":"RPG","slug":"role-playing-games-rpg","games_count":27609,"image_background":"https://media.rawg.io/media/games/ee3/ee3e10193aafc3230ba1cae426967d10.jpg"}],"stores":[{"id":329120,"store":{"id":2,"name":"Xbox
        Store","slug":"xbox-store","domain":"microsoft.com","games_count":2867,"image_background":"https://media.rawg.io/media/games/490/49016e06ae2103881ff6373248843069.jpg"},"url_en":"https://www.microsoft.com/en-us/p/the-witcher-3-wild-hunt-complete-edition/c261457lcnmj?activetab=pivot:overviewtab","url_ru":null},{"id":329119,"store":{"id":3,"name":"PlayStation
        Store","slug":"playstation-store","domain":"store.playstation.com","games_count":6330,"image_background":"https://media.rawg.io/media/games/bc0/bc06a29ceac58652b684deefe7d56099.jpg"},"url_en":"https://store.playstation.com/en-gb/product/EP4497-CUSA05571_00-00000000000GOTY1","url_ru":null},{"id":329118,"store":{"id":5,"name":"GOG","slug":"gog","domain":"gog.com","games_count":2594,"image_background":"https://media.rawg.io/media/screenshots/10f/10f97c2b3281cce02200a5f890bcb97a.jpg"},"url_en":"https://www.gog.com/game/the_witcher_3_wild_hunt_game_of_the_year_edition","url_ru":null},{"id":329117,"store":{"id":1,"name":"Steam","slug":"steam","domain":"store.steampowered.com","games_count":41605,"image_background":"https://media.rawg.io/media/games/511/5118aff5091cb3efec399c808f8c598f.jpg"},"url_en":"https://store.steampowered.com/sub/124923/","url_ru":null}],"clip":{"clip":"https://media.rawg.io/media/stories-640/396/396f5db6b98c94688ef4ec03a5eea3b9.mp4","clips":{"320":"https://media.rawg.io/media/stories-320/4f7/4f72ba353e24467d254acadb98a6ac85.mp4","640":"https://media.rawg.io/media/stories-640/396/396f5db6b98c94688ef4ec03a5eea3b9.mp4","full":"https://media.rawg.io/media/stories/fac/fac80c4d42421ad8efce4f842c5f3fc1.mp4"},"video":"QdMXAVhZPb0","preview":"https://media.rawg.io/media/stories-previews/a6a/a6ab0d288b870936669d2d0c250c772b.jpg"},"tags":[{"id":64,"name":"Fantasy","slug":"fantasy","language":"eng","games_count":8219,"image_background":"https://media.rawg.io/media/games/aa3/aa36ba4b486a03ddfaef274fb4f5afd4.jpg"},{"id":82,"name":"Magic","slug":"magic","language":"eng","games_count":3171,"image_background":"https://media.rawg.io/media/games/c88/c88c0929d09ec9270ca1207a0838c202.jpg"},{"id":70,"name":"War","slug":"war","language":"eng","games_count":5429,"image_background":"https://media.rawg.io/media/games/4e0/4e0e7b6d6906a131307c94266e5c9a1c.jpg"},{"id":624,"name":"Monsters","slug":"mo[...]
