---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/games/3328/movies?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-game-movies
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Sat, 25 Apr 2020 12:12:29 GMT
recorded_with: VCR 3.0.3
