---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/genres/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-genre-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"Racing","slug":"racing","games_count":14554,"image_background":"https://media.rawg.io/media/screenshots/cea/cea1af4f5fd7279eda9a4fae638e7e48.jpg","description":"<p>Racing
        games is the video game genre with a high focus on driving competition. Such
        games are usually presented from the first-person or a third-person perspective.
        It is noted that gamepads are generally more suited to control the vehicle
        than keyboard/mouse pair. Although car avatars may render real-life examples,
        there are many instances where spaceships, formless mechanisms and other fantastical
        entities take the role of the avatar. Grand Prix released in 1969 is considered
        to be the first racing game ever made. Racings is a defining genre of a video
        game which is, in turn, can be divided into a lot of sub-genres: for instance,
        a primary focus may be made on destroying enemies&#39; vehicles (FlatOut,
        Twisted Metal) or crushing as many environments as possible (Split/Second).
        Those mechanics can alternatively be mixed with open world structure or set
        in the defined assortment of separate racing events.</p>"}'
  recorded_at: Sat, 25 Apr 2020 12:12:13 GMT
recorded_with: VCR 3.0.3
