---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/stores/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-store-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"Steam","domain":"store.steampowered.com","slug":"steam","games_count":41605,"image_background":"https://media.rawg.io/media/games/511/5118aff5091cb3efec399c808f8c598f.jpg","description":"<p>Steam
        is an online video game store launched in 2003 by Valve. Games on Steam can
        be played on PCs, including Windows, Mac, and Linux systems. There are dozens
        of thousands of titles there with over 100 million active users all over the
        world. Games on Steam are ranged by genres and popularity; more games are
        recommended to players depending on their previous purchases. Some games on
        Steam require special hardware, such as VR-headsets or controllers. Time-limited
        offers, personal recommendations, and holiday bundles are featured on the
        main Steam page. Players can add games to their Steam wishlists to track them
        down and get a notification when they are out.<br />\nSteam also acts as a
        social network for PC players that can discuss and rate games and get achievements.
        In 2018 Valve released Steam TV - a service to stream international game tournaments.</p>"}'
  recorded_at: Sat, 25 Apr 2020 12:12:12 GMT
recorded_with: VCR 3.0.3
