---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/tags/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-tag-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"Survival","slug":"survival","games_count":3495,"image_background":"https://media.rawg.io/media/games/08b/08ba47648c1611cfbf0d36eea5a2efa4.jpg","description":""}'
  recorded_at: Sat, 25 Apr 2020 12:12:16 GMT
recorded_with: VCR 3.0.3
