---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/stores?page=1&page_size=50
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-store-list
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"count":10,"next":null,"previous":null,"results":[{"id":1,"name":"Steam","domain":"store.steampowered.com","slug":"steam","games_count":41605,"image_background":"https://media.rawg.io/media/games/511/5118aff5091cb3efec399c808f8c598f.jpg","games":[{"id":3498,"slug":"grand-theft-auto-v","name":"Grand
        Theft Auto V","added":11409},{"id":4200,"slug":"portal-2","name":"Portal 2","added":10073},{"id":3328,"slug":"the-witcher-3-wild-hunt","name":"The
        Witcher 3: Wild Hunt","added":9723},{"id":5679,"slug":"the-elder-scrolls-v-skyrim","name":"The
        Elder Scrolls V: Skyrim","added":9022},{"id":12020,"slug":"left-4-dead-2","name":"Left
        4 Dead 2","added":8786},{"id":802,"slug":"borderlands-2","name":"Borderlands
        2","added":8695}]},{"id":3,"name":"PlayStation Store","domain":"store.playstation.co[...]
