---
http_interactions:
- request:
    method: get
    uri: https://api.rawg.io/api/publishers/1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      Path:
      - api-publisher-detail
      Content-Language:
      - en
      X-Server:
      - api_rawg_io
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"West Coast Software Limited","slug":"west-coast-software-limited","games_count":2,"image_background":"https://media.rawg.io/media/screenshots/592/59280b54d91d4d555a864767a7ac8a4a.jpeg","description":""}'
  recorded_at: Sat, 25 Apr 2020 12:12:10 GMT
recorded_with: VCR 3.0.3
